
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.score_container{
    width: 625px;
    margin: auto;
    margin-bottom: 30px;

}
.your_score{
    height: 165px;
    border: solid 2px #8F887C;
    margin-top: 40px;
    margin-bottom: 67px;
    display: flex;
    background-color: #4C4B49;

}
.totalScore{
    width: 176px;
    margin-left: 43px;
    text-align: center;
    margin-top: 52px;
    margin-bottom: 54px;
}

.scoreDetails{
    width: 356px;
    margin-left: 50px;
    margin-right: 46px;
    margin-top: 52px;
    margin-bottom: 54px;
    display: flex;
}
.unattempted{
    width: 103px;
    border-right: solid 1px #8F887C;
    padding-right: 33px;
    text-align: center;
}
.correct{
    width: 103px;
    padding-right: 33px;
    border-right: solid 1px #8F887C;
    text-align: center;
    
}

.wrong{
    text-align: center;
    width: 103px;
}


.score_p{
    color: var(--Light-b, #F9F7F2);
    text-align: center;
    font-family: Jost;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    margin: 0;

}

.yourScore{
    color: var(--Light-b, #F9F7F2);
    font-family: "Inria Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.p_unattemp{
    color: var(--Light-b, #F9F7F2);
    font-family: "Inria Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex;

}

.correct_p{
    color: var(--Light-b, #F9F7F2);
    font-family: "Inria Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    padding-left: 20px;
}

.wrong_p{
    color: var(--Light-b, #F9F7F2);
    font-family: "Inria Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    padding-left: 20px;

}

.scoreCheck{
    width:400px;
    color: var(--Dark-a, #1F1E1C);
    font-family: "Inria Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.scoreBorder{
    background: #777671;
    width: 621px;
    height: 2px;
    margin-top: 21px;
}



.wrong_correct_container{
    width: 476px;

}

.spanDot{
    padding-left: 3px;
    padding-right: 5px;
    margin: 0;
}

.un-p{
    margin: 0;
    color: var(--Light-b, #F9F7F2);
    font-family: "Inria Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.num_p{
    margin: 0;
    padding-left: 6px;
    color: var(--Light-b, #F9F7F2);
    text-align: center;
    font-family: "Inria Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;

}
@media(max-width:600px){
    .score_container{
    margin: auto;
    margin-bottom: 30px;
    width: 360px;

    }
    .your_score{
        margin-top: 40px;
        margin-bottom: 67px;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 8px;
    
    }

    .scoreDetails{
        display: flex;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .unattempted{
        border: none;

    }
    .correct{
        border: none;

    }

    .totalScore{
        text-align: center;
        margin-top: 18px;
        margin-bottom: 54px;
        margin-left: 0;
        width: 100%;
        margin-bottom: 0;
    }
    .scoreCheck{
        margin-left: 20px;
        
    }

    .scoreBorder{
        width: 320px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .spanDot{
        display: none;
    }
    .p_unattemp{
        display: flex;
        flex-direction: column;
    }
    .correct_p{
        display: flex;
        flex-direction: column;
        padding-left: 0;

    }
    .wrong_p{
        display: flex;
        flex-direction: column;
        padding-left: 0;

    }
    


}