.your_score{
    width: 625px;
    border: solid 2px #8F887C;
    height: 165px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 67px;
    display: flex;
    background-color: #4C4B49;
}

.score_details{
    display: flex;
    margin-left: 43px;
}

.score p{
    color: red;
    color: var(--Light-b, #F9F7F2);
    text-align: center;
    font-family: Jost;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    margin-top: 52px;
}
.score span{
    color: #F9F7F2;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 54px;
}

.scoreDetails{
    margin-left: 50px;
}

.grpImage{
    margin-top: 52px;
    text-align: center;
    width: 55px;
    height: 0px;
    border: solid 1px #8F887C;
    transform: rotate(90deg);
    stroke-width: 1px;
    stroke: var(--Dark-d, #8F887C);

}
.unattemp{
    color: var(--Light-b, #F9F7F2);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0;

}

