
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.success_container{
    max-width: 720px;
    margin: auto;
    background-color: white;
    margin-bottom: 143px;
    margin-top: 103px;
}

.text{
    width: 310px;
    margin: auto;

}

.Successfully{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-top: 23px;
}

.completing{
    color: #000;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-top: 36px;
}

.Ptag{
    color: #000;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.score{
    display: flex;
    justify-content: center;
    margin: auto;
}

.scoreBtn{
    display: inline-block; 
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: #FEEEB4;
    border: solid 2px #F4D150;
    margin-top: 98px;
    margin-bottom: 108px;
    box-shadow: 0px 4px 7px 0px #B3AE9C;

}
.Score_link{
    text-decoration: none; 
    color: black; 
    border-radius: 4px; 
    text-align: center; 
    font-weight: 400;
    font-family: "Roboto", sans-serif;

}

.ticks{
    text-align: center;
    margin-top: 65px;
}

.tick{
    text-align: center;
    margin-top: 65px;
}


@media(max-width:600px){
    .success_container{
        width: 320px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .scoreBtn{
        margin-bottom: 60px;
        margin-top: 50px;
    }

}