.assignment_header{
    background-color: white;
}
@media(max-width:600px){
    .assignment_header{
        display: block;
    }
}

.main_header{
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: space-between; 
}

.pagination_logo{
    width: 997px;
    display: flex;
    justify-content: space-between;
}



.logoImg{
    margin-top: 18px;
    margin-bottom: 18px;
}
@media(max-width:600px){
    .logoImg{
        padding-top: 18px;
        margin: auto;
    }
    .main_header{
        width: auto;
        text-align: center;
        display: block;
    }
    .pagination_logo{
        width: auto;
        display: block;
    }

}

