.pagination{
    display: flex;
    gap:16px;
    padding-top: 24px;
    padding-bottom: 22px;
}
.pagination_button{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
    color: var(--Dark-a, #1F1E1C);
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.pagination_button{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
    color: var(--Dark-a, #1F1E1C);
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}
.pagination_button{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
    color: var(--Dark-a, #1F1E1C);
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}
.pagination_button{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
    color: var(--Dark-a, #1F1E1C);
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.pagpagination_buttone_5{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
    color: var(--Dark-a, #1F1E1C);
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.papagination_button{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
    color: var(--Dark-a, #1F1E1C);
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.pagination_button{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
    color: var(--Dark-a, #1F1E1C);
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.pagination_button{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
}
.dot{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    text-align: center;
    display: none;
    color: var(--Dark-a, #1F1E1C);
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}
.dot_1{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    text-align: center;
    display: none;
    color: var(--Dark-a, #1F1E1C);
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}



@media(max-width:600px){
    .pagination{
        display: flex;
        margin: auto;
        padding-top: 24px;
        padding-bottom: 22px;
        border-top: solid 2px #E0DFDA;
    }
    .page_2{
        display: none;
    }
    .page_3{
        display: none;
    }
    .page_4{
        display: none;
    }
    .page_6{
        display: none;
    }
    .page_7{
        display: none;
    }
    .dot{
        display: block;
    }
    .dot_1{
        display: block;
    }
    .previousImag{
        margin-left: 20px;
    }


}