
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #EBE9E6;
}

.container{
  max-width: 720px;
  margin: auto;
  background-color: white;
  margin-bottom: 143px;
}
.title{
  text-align: center;
  font-family: "Inter", sans-serif;

  font-size: 24px;
  font-weight: 600;
  margin-top: 55px;
  margin-bottom: 19px;
}

.instruction{
  margin: auto;
  width: 472px;
  font-family: "Inria Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4C4B49;
}

.Instructions{
  margin:0;
  padding-top: 40px;
}
.read_carefully{
  margin: auto;
  width: 472px;
  font-family: "Inria Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4C4B49;
  margin-top: 16px;
}

.timeDiv{
  margin: auto;
  width: 472px;
  font-family: "Inria Sans", sans-serif;
  color: #4C4B49;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;

}
.internetDiv{
  width: 472px;
  margin: auto;
  color: #4C4B49;
  font-family: "Inria Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;

}

.Start{
  width: 472px;
  margin: auto;
  color: #4C4B49;
  font-family: "Inria Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;

}

.goodLuck{
  font-weight: 600;
  font-family: "Inria Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  margin-left: 125px;
}


.border{
  height: 1px;
  width: 620px;
  margin: auto;
  background-color: #4C4B49;
  margin-top: 40px;
}

ul{
  margin: 0;
}
@media(max-width:600px) {
  .container{
    width: 100%;
    margin-top: 34px;
    margin-bottom: 80px;
  }
  .instruction{
    width: 280px;
    margin: auto;
    text-align: center;

  }
.read_carefully{
  width: 280px;
  margin: auto;
}
.timeDiv{
  width: 280px;
}
.internetDiv{
  width: 280px;

}
.Start{
  width: 280px;

}
.border{
  width: 280px;
}
.goodLuck {
  margin-left: 45px;

}

}

.timeDiv ul li{
  padding-top: 6px;
}


.letsStart{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 39px;
  width: 159px;

}

a.button-link {
  display: inline-block; 
  margin-bottom: 40px;
  padding: 10px 20px;
  background-color: #FEEEB4;
  border: solid 1px #F4D150;
  text-decoration: none; 
  color: black; 
  border-radius: 4px; 
  text-align: center; 
  font-weight: 400;
  font-family: "Inria Sans", sans-serif;
 
}

