.main_container{
    width: 1200px;
    margin: auto;
    display: flex;
}

.question_container{
    margin-left: 103px; 
    margin-right: 203px;
    display: flex;
    margin-bottom: 136px;
} 

.watch_row{
    display: flex;
    width: 152px;
    height: 180px;
    position: relative;
    left: 67px 
    
}

.filterWatch{
    position: relative;
    text-align: center;
    transform: translate(1%, -4%);
}

