.filter_row{
    width: 284px;
    height: 375px;
    border-radius: 12px;
    border: 1px dashed var(--Dark-c, #777671);
    background: var(--Light-b, #F9F7F2);
    margin-top: 20px;
}

.details{
    display: flex;
    height: 259.621px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 36px;
    margin-bottom: 78px;
    margin-left: 38px;
    margin-right: 49px;
    border-radius: 12px;
 
}

.FilterText{
    color: var(--Dark-b, #4C4B49);
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.Question_Score{
    color: var(--Dark-a, #1F1E1C);
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 36px;
}

.difficulty{
    display: flex;
    margin-top: 16px;
    gap: 10px;
}

.all{
    border-radius: 4px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    background-color: #4C4B49;
    color: white;
}
.minimum{
    border-radius: 4px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border: 1px solid #F4D150;
    background-color: #FEEEB4;

}

.mediam{
    border-radius: 4px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border: 1px solid #F4D150;
    background-color: #FEEEB4;

}
.highest{
    border-radius: 4px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border: 1px solid #F4D150;
    background-color: #FEEEB4;

}

.Questions_Attempted{
    margin-top: 48px;
    color: var(--Dark-a, #1F1E1C);
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}


.totalAttemps{
    display: flex;
    padding: 6px;
    width: 206px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6px;
    flex-wrap: wrap;
    margin-top: 16px;
}

.alls{
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
    color: white;
    border-radius: 54px;
    border: 1px solid var(--Dark-b, #4C4B49);
    background: var(--Dark-b, #4C4B49);


}

.totalAttempted{
    align-items: center;
    padding: 6px 12px;
    border-radius: 54px;
    border: 1px solid var(--Accent, #F4D150);
    background: var(--Accent-Light, #FEEEB4);
    color: var(--Dark-a, #1F1E1C);
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.Unattempted{
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
    border-radius: 54px;
    border: 1px solid var(--Accent, #F4D150);
    background: var(--Accent-Light, #FEEEB4);

}