.pagination{
    display: flex;
    gap:16px;
    padding-top: 24px;
    padding-bottom: 22px;
}
.page_1{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
}
.page_2{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
}
.page_3{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
}
.page_4{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
}
.page_5{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
}
.page_6{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
}

.page_7{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
}

.page_8{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
}
.dot{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
    display: none;

}
.dot_1{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #E0DFDA;
    border-radius: 100%;
    text-align: center;
    display: none;
}

@media(max-width:600px){
    .pagination{
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-top: 24px;
        padding-bottom: 22px;
    }
    .page_2{
        display: none;
    }
    .page_3{
        display: none;
    }
    .page_4{
        display: none;
    }
    .page_6{
        display: none;
    }
    .page_7{
        display: none;
    }
    .dot{
        display: block;
    }
    .dot_1{
        display: block;
    }


}